---
import Label from "../layouts/Label.astro";
import ProjectCard from "./ProjectCard.astro";
import agents from "../assets/projectImages/agents_web.png";
import reactBA from "../assets/projectImages/react_ba.png";
import romc from "../assets/projectImages/rest_of_my_cloud.png";
import cfs from "../assets/projectImages/call_for_speakers.png";
import hotel from "../assets/projectImages/valle_volcan.png";

const projects = [
  {
    image: `${agents.src}`,
    title: "Website para agentes",
    description:
      "Sitio web personalizable y configurable para agentes inmobiliarios.",
    technologies: ["Nextjs", "React", "TypeScript", "Styled Components"],
    webLink: "https://cnvct-webs-dev.azurewebsites.net/ricardo",
  },
  {
    image: `${reactBA.src}`,
    title: "Web de React Buenos Aires",
    description:
      "Sitio web para centralizar toda la informacion de la comunidad React Buenos Aires.",
    technologies: ["Nextjs", "React", "TypeScript", "Styled Components"],
    webLink: "https://reactbuenosaires.com.ar/",
    githubLink: "https://github.com/reactbuenosaires/website",
  },
  {
    image: `${romc.src}`,
    title: "Rest of my Cloud",
    description: "Blog educativo para aprender a programar.",
    technologies: ["Next", "React", "TypeScript", "Sass"],
    webLink: "https://restofmycloud.com/",
  },
  {
    image: `${cfs.src}`,
    title: "Call for speakers",
    description:
      "Aplicacion de agenda para la realizacion de charlas en una comunidad de programacion.",
    technologies: ["React", "TypeScript", "CSS"],
    webLink: "https://latinonet.online/callforspeakers/",
    githubLink: "https://github.com/latinonetonline/callforspeakers",
  },
  {
    image: `${hotel.src}`,
    title: "Valle del Volcán",
    description: "Sitio web para un sofisticado club de hotelería.",
    technologies: ["React", "TypeScript", "CSS"],
    webLink: "https://hotelvalledelvolcan.info/",
    githubLink: "https://github.com/aivenweb/hotelvalledelvolcan-website",
  },
];
---

<section id="projects" class="projects-section">
  <div class="label-container">
    <Label text="Proyectos" />
  </div>
  <div class="flex-container">
    {
      projects.map((project) => (
        <ProjectCard
          image={project.image}
          title={project.title}
          description={project.description}
          technologies={project.technologies}
          webLink={project.webLink}
          githubLink={project.githubLink}
        />
      ))
    }
  </div>
</section>

<style>
  .projects-section {
    margin-bottom: 90px;
  }
  @media (max-width: 580px) {
    .projects-section {
      margin-bottom: 50px;
    }
  }
</style>
